{% extends 'personal_rate_analysis/base.html' %}

{% block content %}
    {% if not msg %}
    <table class="table table-condensed">
        <h3>通算戦績</h3>
        <tr>
        <th class="table-primary">総試合数</th>
        <th class="table-primary">最終レート</th>
        <th class="table-primary">最高レート</th>
        <th class="table-primary">最低レート</th>
        <th class="table-primary">平均レート</th>
        <th class="table-primary">中央値</th>
    </tr>
    <tr>
      <th>{{ user_result.number_of_matches }}</th>
      <th>{{ user_result.last_rate }}</th>
      <th>{{ user_result.max_rate }}</th>
      <th>{{ user_result.min_rate }}</th>
      <th>{{ user_result.ave_rate }}</th>
      <th>{{ user_result.median_rate }}</th>
    <tr>
    </table>
    <table>
        <h3>ファイター別戦績</h3>
        <table class="table table-condensed">
        <tr>
            <th class="table-primary">ファイター</th>
            <th class="table-primary">試合数</th>
            <th class="table-primary">収支</th>
            <th class="table-primary">通算戦績</th>
        </tr>
        <tr>
            {% for item in char_result %}
            <th>{{ item.fighter }}</th>
            <th>{{ item.number_of_matches }}</th>
            <th>{{ item.rate_balance }}</th>
            <th>{{ item.results }}</th>
        </tr>
        {% endfor %}
        {% endif %}
        {% endblock %}
